@font-face {
    font-family: "Myriad Pro Bold";
    src: url("../fonts/myriadpro-bold.ttf")
}

@font-face {
    font-family: "Georgia Italic";
    src: url("../fonts/georgia-italic.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Heavy";
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "Lato SemiBold";
    src: url("../fonts/Lato-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat UltraLight";
    src: url("../fonts/Montserrat-UltraLight.otf");
}

body, html {
    font-family: "Lato Regular", sans-serif;
    width: 1600px;
    height: 3634px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/*header*/

.header, .header_menu {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.header_menu {
    width: 1600px;
    height: 945px;
    background-blend-mode: darken;
    background: rgba(0,0,0,0.83) url(../images/header.jpg) no-repeat;/*first image*/
}

.the_navigator {
    position: fixed;
    z-index: 999999;
    margin: 0 auto;
    margin-left: 200px;
    border-bottom: 1px solid #2F2E33;
    height: 89px;
    width: 1200px;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 91px;
}

.navigator a {
    margin-top: 5px;
    margin-left: 5px;
}

.navigator ul {
    justify-content: flex-end;
    display: flex;
}

.navigator ul li {
    margin-right: 61px;
    font-size: 16px;
}

.navigator ul li a {
    padding-top: 19px;
    padding-bottom: 33px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.navigator ul li:last-child {
    margin-right: 0;
}

.nav {
    margin-left: 350px;
    list-style-type: none;
    margin-top: 25px;
}

.nav li a {
    position: relative;
    display: block;
    padding: 24px 1px;
}

.navigator_link:hover{
    color: white;
}
  
.navigator_link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
}

.navigator_link:before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left:0;bottom: -1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}

.home .intro {
    text-align: center;
    position: relative;
    left: 1px;
    top: 268px;
}

.home p {
    font: 32px 'Georgia Italic', sans-serif;
    font-style: italic;
    margin: 14px auto;
    line-height: 31px;
    color: white;
}

.home h2 {
    font-family: "Myriad Pro Bold", sans-serif;
    font-size: 72px;
    color: white;
    margin-bottom: 4px;
}

.authorise {
    display: block;
    overflow: hidden;
    text-align: center;
    background-color: #2FAC6C;
}

.login {
    position: absolute;
    height: 120px;
    width: 53.7%;
    background: #21424A;
}

.register {
    height: 120px;
    width: 50.3%;
    float: right;
    background: #2FAC6C;
    transform: skewX(-13deg);
}

.register a, .login a {
    position: relative;
    top: 47px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.register a {
    right: 96px;
    transform: skewX(13deg);
}

.login a {
    left: 75px;
}

.login a:hover, .register a:hover {
    color: #dedede;
}

.login a:active {
    color: #14292f;
}

.register a:active {
    color: #125F38;
}

/*fixing navigation display*/

.changeColor {
    background-color: black;
}

.addPaddings {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 0px;    
}

/*Chose Domain Name*/

.identify_price {
    height: 564px;
    margin-bottom: 18px;
}

.identify_price h3 {
    font-family: "Lato Heavy", sans-serif;
    margin-top: 0;
    padding-top: 85px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 23px;
}

.identify_price p {
    font-family: "Montserrat UltraLight", sans-serif;
    font-size: 16px;
    color: #D9D9D9;
    padding-right: 3px;
    margin-bottom: 47px;
    text-align: center;
}

.choosing {
    height: 48px;
    width: 888px;
    border: 1px solid #D9D9D9;
    margin: 0 auto 40px;
}

.WWW {
    color: #CBCBCB;
    font-size: 15px;
    border-right: 1px solid #D9D9D9;
    padding: 6px 17px;
    text-align: center;
}

.default_text {
    font-family: "Lato SemiBold", sans-serif;
    width: 700px;
    font-size: 15px;
    padding: 15px 12px;
    border: none;
}

#domain_name {
    padding: 6px 10px;
    color: #CBCBCB;
    font-size: 15px;
    width: 77px;
    border: none;
    border-left: 1px solid #D9D9D9;
}

/*Price Table*/

.domain_prices {
    color: #CBCBCB;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    display: block;
    border: 1px solid #D9D9D9;
    margin: 0 auto;
    width: 888px;
    height: 173px;
}

.prices_table .row td.top::after {
    content: "";
    display: block;
    right: -6px;
    bottom: -6px;
    width: 12px;
    z-index: 1;
    border-radius: 100%;
    height: 12px;
    position: absolute;
    background-color: white;
}

.prices_table .row td.top:last-child:after {
    content: "";
    display: none;
}

.prices_table {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    width: 856px;
    height: 170px;
    display: block;
}

.row {
    margin: 0 14px;
    display: flex;
}

.row td {
    position: relative;
    padding: 40px 40px;
    width: 14%;
}

.row td.top {
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}

.row td.bottom {
    border-right: 1px solid #D9D9D9;
}

.row td.bottom:last-child, .row td.top:last-child {
    border-right: none;
}

td.top:first-child {
    padding-top: 9px;
    padding-right: 55px;
}

td.top:last-child {
    padding-top: 9px;
    padding-left: 54px;
}

td.bottom:first-child {
    padding-right: 55px;
}

td.bottom:last-child {
    padding-top: 20px;
    padding-left: 54px;
}

td.bottom:nth-child(n) {
    padding-top: 19px;
    padding-bottom: 29px;
}

td.top.year {
    padding: 9px 56px 9px 56px;
}

td.bottom.year {
    padding: 19px 56px 19px 56px;
}

td.top.price {
    padding: 9px 56px 9px 56px;
}

td.bottom.price {
    padding: 18px 56px 19px 56px;
}

td.top::before, td.bottom::before {
    content: '';
    display: block;
    width: 110px;
    height: 18px;
}

/*4 offers*/

.icons {
    position: relative;
}

.anchor {
    background: url("../images/basic-package.png") no-repeat 18px 20px;
}

.halfstar {
    background: url("../images/half-star.png") no-repeat 18px 20px;
}

.star {
    background: url("../images/star.png") no-repeat 18px 20px;
}

.diamond {
    background: url("../images/diamond.png") no-repeat 18px 20px;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circle_size {
    display: block;
    margin: 14px auto;
    width: 60px;
    height: 60px;
}

.circle {
    stroke: #F9D423;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.grey_offer .circle {
    stroke: #7E8C8D;
}

.red_offer .circle {
    stroke: #FA5F41;
}

.green_offer .circle {
    stroke: #18BC9A;
}

.offers {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    height: 760px;
}

.dottes {
    display: flex;
    align-self: center;
    width: 75%;
    border-bottom: 4px dotted #D7D7D7;
}

.offer_sets {
    display: flex;
    margin: -281px 0 100px 200px;
    height: 570px;
}

.offer_set {
    margin-right: 57px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15.5%;
    height: 520px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offer_set:first-child {
    border-top: 4px solid #F9D423;
}

.grey_offer {
    border-top: 4px solid #7E8C8D;
}

.red_offer {
    border-top: 4px solid #FA5F41;
}

.green_offer {
    border-top: 4px solid #18BC9A;
}

.offer_name {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.offer_list {
    list-style-type: none;
    margin-top: 0;
    padding: 5px 0 10px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.list_item {
    display: flex;
    justify-content: space-between;
    padding: 9.5px;
}

.item {
    color: #B4B4B4;
}

.item_yellow {
    color: #F9D423;
}

.item_grey {
    color: #7E8C8D;
}

.item_red {
    color: #FA5F41;
}

.item_green {
    color: #18BC9A;
}

.offer_prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.offer_price .price {
    font-size: 28px;
    font-weight: bold;
}

.price sup {
    font-size: 16px;
}

.price sub {
    font-weight: 200;
    font-size: 13px;
    color: #B4B4B4
}

.plan {
    text-decoration: none;
    color: black;
    border-top: 3px solid #F9D423;
    padding-top: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.offer_prices .yellow_price {
    border-top: 3px solid #F9D423;
}

.offer_prices .grey_price {
    border-top: 3px solid #7E8C8D;
}

.offer_prices .red_price {
    border-top: 3px solid #FA5F41;
}

.offer_prices .green_price {
    border-top: 3px solid #18BC9A;
}

.slider__panel {
    position: relative;
    width: 1600px;
    height: 190px;
}

.slider_background {
    position: absolute;
}

#slider {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 10px;
}

#quote__slides article {
    /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#quote__slides .quote {
    /*устанавливает общий размер блока с изображениями*/
    width: 300%;
}

#text_limit {
    /*сркывает все, что находится за пределами этого блока*/
    position: absolute;
    left: 325px;
    top: 37px;
    width: 950px;
    height: 70px;
    overflow: hidden;
}

#author_limit {
    /*сркывает все, что находится за пределами этого блока*/
    position: absolute;
    left: 612px;
    top: 108px;
    width: 200px;
    height: 30px;
    overflow: hidden;
}

.author {
    width: 900px;
}

#desktop:checked~#slider {
    /*размер всего слайдера*/
    max-width: 960px;
    /*максимальнная длинна*/
}

.quote__slide {
    width: 950px;
    height: 70px;
    float: left;
}

.author_slide {
    margin-right: 50px;
    width: 150px;
    height: 30px;
    float: left;
}

.standart_quote {
    position: absolute;
    text-align: center;
    color: #f5f5f5;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18.0px;
    width: 950px;
    height: 90px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
    font-family: "Lato Light", sans-serif;
}

.quote_author {
    position: absolute;
    text-align: right;
    color: #f5f5f5;
    font-family: "Lato Bold", sans-serif;
    font-weight: 600;
    font-size: 18.5px;
    width: 150px;
    height: 20px;
    /*line-height: 1.5em;*/
    letter-spacing: 0.2px;
    margin-top: 10px;
}

 .switchs {
    position: absolute;
    width: 90px;
    height: 16px;
    margin-left: 818px;
    margin-top: 123px;
    border-left: 1px solid #979797;
}

 .switch {
    /*стиль отдельного переключателя*/
    cursor: pointer;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    margin: 4px;
    border-radius: 50%;
    display: inline-block;
}

.start_of_switchs {
    margin-left: -13px;
}

label {
    /*при наведении на стрелки или переключатели курсор изменится*/
    cursor: pointer;
}

.slider {
    /*скрывает стандартные переключатели на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#point1:checked~#quote__slides .quote {
    margin-left: 0;
}

#point1:checked~#names__slides .author {
    margin-left: 45px;
}

#point2:checked~#quote__slides .quote {
    margin-left: -950px;
}

#point2:checked~#names__slides .author {
    margin-left: -156px;
}

#point3:checked~#quote__slides .quote {
    margin-left: -1900px;
}

#point3:checked~#names__slides .author {
    margin-left: -356px;
}

/*цвет активного лейбла при активации чекбокса*/
#point1:checked~#active label:nth-child(1),
#point2:checked~#active label:nth-child(2),
#point3:checked~#active label:nth-child(3) {
    background: white;
}

.quote, .author {
    /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
